$color : black;
$lightgray: #c8c4bf;
$secondaryColor : lighten($color, 20%);
$tertiaryColor : lighten($color, 50%);
$superLightColor : lighten($lightgray, 20%);
$pink: #fcc7aa;
$white : #fcf7f5;
$dark: #4c4741;


$darkgreen: #436742;
$lightgreen : #6a8f70;
$darkred: #660505;

html {
    background-color: $darkgreen;
    font-family: 'Cinzel Decorative', cursive;
}

h1 {
    text-align: center;
}

.monsterGrid {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* display: flex;
  flex-wrap: wrap; */
    max-width: 1400px;
}

.monster-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid $lightgray;
    margin: 5px;
    font-family: 'Cabin', sans-serif;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px $lightgray;
    height: 500px;
    justify-content: center;
}

.monsterFightInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $pink;

    font-family: 'Cabin', sans-serif;
    border-radius: 5px;

}

.popupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    border: 1px solid $superLightColor;
    max-width: 150px;
    font-size: small;
    font-family: 'Cabin', sans-serif;
    // border-radius: 5px;
    // box-shadow: 2px 2px 2px 2px $superLightColor
}

.attackPopup {
    max-width: 250px;
    background-color: $white;
    color: $dark;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px $superLightColor
}

.attackPopup>ul {
    font-size: 10px;
    margin: 0;
}

.attackPopup>p {
    font-size: 8px;
    line-height: normal;
}

h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.damageTracker {
    margin-top: 30px;
}

.partyForm {
    max-width: 800px;.git
    padding: 20px 12px 10px 20px;
    display: flex;
    flex-direction: column;
}

.radioButtons {
    margin: 15px;
}

.partyForm {
    padding: 20px;
}

.numberInput {
    padding: 5px;
    padding-inline: 10px;
}

.radioButton {
    padding: 3px;
}